.current {
    text-align: justify;
    color: red;
}
body {
    background-color: lightblue;
}
.imgId {
    width: 40%;
}
.textIntro{
    margin-top: 3%;
    margin-right: 1%;
}
.row{
    margin: auto;

}
.textInfoPers{
    padding: 1%;
}
.pad{
    padding: 1%;
}
.hobim{
    width: 40%;
    margin-left: 25%;
    margin-right: 25%;
} 
.foot{
    left: 0;
    bottom: 0;
    width: 100%;
    position:fixed;
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 0%;
}
